@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: repeating-linear-gradient(
    40deg,
    #22577aa4,
    #38a3a594,
    #57cc9980,
    #38a3a580,
    #38a3a577,
    #80ed9991
  );
}

main {
  min-height: 110vh;
  text-align: left;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  min-width: min(50rem, 90vw);
  max-width: min(60rem, 90vw);
  display: grid;
  grid-template-columns: 1fr auto;
}

/* Meta-classes */

.flex-column {
  display: flex;
  flex-direction: column;
}

/* TITLE */

.display-title {
  font-size: 35pt;
  margin: 1rem 2.5rem;
  grid-column: span 2;
  line-height: 1;
}

#display-divider {
  grid-column: span 2;
  width: 90%;
  margin-top: 0;
}

/* FILTERS */

#filters {
  margin: 1rem 2.5rem;
}

#filter-title {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
}

/* TRIP DISPLAY */

.trip-display {
  gap: 1rem;
  padding: 1rem 2.5rem;
  line-height: 1;
}

/* TRIP CARDS */

.trip-card {
  display: flex;
  position: relative;
  flex-direction: column;

  transition-duration: 0.2s;
  transition-property: transform;
  border-radius: 0.6rem;
  border-width: 2px;
  border-style: solid;
  min-height: 14rem;
  min-width: min(30rem, 40vw);
  padding: 1rem;
  line-height: 1.6rem;
  /* Not sure if best practice when spacing text is to use line-height or gaps */
}

.trip-card:hover {
  transform: scale(104%);
}

.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#type-logo {
  position: absolute;
  top: 1.2rem;
  left: 0.3rem;
  font-size: 1.4rem;
  color: white;
}

/* Apparently font awesome works by occupying the :before pseudo-element so it was really easy giving it a background*/
#type-logo:before {
  background-color: black;
  padding: 4px;
  border-radius: 30%;
  border: 1px solid black;
}

#trip-destination {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 2rem;
}

.capitalize {
  text-transform: capitalize;
}

#travel-type-text {
  font-size: 1.2rem;
  font-weight: 400;
  position: absolute;
  top: 0.7rem;
  left: 3rem;
  text-align: left;
}

@media only screen and (max-width: 650px) {
  #filters {
    grid-column: span 2;
  }
}
