*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-image: repeating-linear-gradient(
    40deg,
    #22577a,
    #38a3a5,
    #57cc99,
    #38a3a5,
    #38a3a5,
    #80ed99
  ); */
}

main {
  min-height: 110vh;
  text-align: center;
}

.display-title {
  background-color: var(--bright);
  font-size: 35pt;
}

.trip-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

/* TRIP CARDS */

.trip-card {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  background-color: aliceblue;
  transition-duration: 0.2s;
  transition-property: transform;
  border-radius: 1px;
  border: 2px solid gray;
}

.trip-card:hover {
  transform: scale(104%);
}

#type-logo {
  position: absolute;
  display: block;
  top: 1rem;
  left: 0.5rem;
  color: white;
}
#type-logo:before {
  background-color: black;
  padding: 3px;
  border-radius: 40%;
  border: 1px solid black;
}
