/*
- - - - - - - -
From: https://medium.com/swlh/better-ways-to-organise-css-properties-9a066e7ded62
"Better Ways to Organise CSS Properties"
- - - - - - - -
EXAMPLE:
- - - - - - - -
.classname {
    position: relative;
    display: flex;

    width: 250px;
    height: 350px;
    margin: 5px 10px;
    padding: 10px;
    border: 1px solid #white;
    border-radius: 5px;

    background: #black;
    box-shadow: 5px 10px 18px #blue;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;

    color: red;
    text-align: left;
    letter-spacing: 1px;
    line-height: 20px;

    text-shadow:
    text-transform: uppercase;
    transition: transform(5px);
}
- - - - - - - -
*/

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* v-- Flex + Grid tryout --v */
.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.inloggsknapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-content: right;
}

.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap: 10px;
  }

  .grid-container > div {
    text-align: center;
  }
  
  .grid-item {
    padding: 20px;
    font-size: 30px;
  }
  
  .item1 {
    grid-column: 1 / span 5;
    grid-row: 2;
  }

  .item2 {
    grid-column: 1 / span 5;
    grid-row: 1;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin: auto;
  }

  
  .item3 {
    grid-column: 5;
    grid-row: 1;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin: auto;
  }
  

  .item4 {
    grid-column: 1 / span 5;
    grid-row: 3;
  }
  
  .item5 {
    grid-column: 1 / span 5;
    grid-row: 4;
    background-color: var(--dark);
  }















/*

 - - - - - - - - 
Hamburger in the making
 - - - - - - - - 

  .hamburgermeny .line {
    transition: 
     y 300ms ease-in 300ms,
     rotate 300ms ease-in;
     opacity: 0ms 300ms;
     ;
     transform-origin: center;
  }
  
  .hamburgermeny:hover .line {
    transition: 
     y 300ms ease-in,
     rotate 300ms ease-in 300ms;
     opacity: 0ms 300ms;
     ;
  }
  
  .hamburgermeny:hover :is(.top, .bottom) {
    y: 50;
  }
  
  .hamburgermeny:hover .top {
    rotate: 45deg;
  }
  
  .hamburgermeny:hover .middle {
    opacity: 0;
  }
  
  .hamburgermeny:hover .bottom {
    rotate: -45deg;
  }
  
  .hamburgermeny[aria-expanded="true"] .top{
  
  }

 - - - - - - - - 
  */