:root {
  --darkColor: #22577a;
  --mediumColor: #38a3a5;
  --lightColorShadeDark: #57cc99;
  --lightColorShadeLight: #80ed99;
}

body {
  background-color: var(--mediumColor);
}

.grid-container {
  display: grid;
  margin: 3rem;
  gap: 1.5rem;
}

.FAQ {
  border: 2px solid;
  padding: 1rem;
  background-color: white;
}

#searchbar {
  width: 50%;
  margin: auto;
  height: 2rem;
  font-size: 1.2rem;
}

.align-center {
  text-align: center;
}

.question {
  font-size: 0.7rem;
}
