:root {
  --darkColor: #22577a;
  --mediumColor: #38a3a5;
  --lightColorShadeDark: #57cc99;
  --lightColorShadeLight: #80ed99;
}
* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  margin: 1.5em;
  gap: 1.5rem;
}

#searchbar {
  width: 50%;
  margin: auto;
  height: 2rem;
  font-size: 1.2rem;
}

.align-center {
  text-align: center;
}

.FAQ {
  background-color: var(--darkColor);
  color: white;
}
button.question {
  background-color: var(--darkColor);
  color: white;
  width: 100%;
  text-align: left;
  border: none;
  font-size: 0.7rem;
}
p.answer {
  margin: -0.5rem 1.5rem 1.5rem;
  padding-bottom: 1rem;
}
