/*
- - - - - - - -
The CSS has been sorted into the following order:
* Colours as variables
* Basic styling
* Header, body, main
* Nav, menu, footer
* Buttons & hamburger
* Experiment menus
* LAYOUT less than 600px
* LAYOUT more than 600px
- - - - - - - -
*/



/* - - - - - - - - COLOURS AS VARIABLES - - - - - - - - */

:root {
    --dark: #22577a;
    --medium-dark: #38a3a5;
    --lighter: #57cc99;
    --bright: #80ed99;
  }


  html[data-theme='light'] {
    --dark: #22577a;
    --medium-dark: #38a3a5;
    --lighter: #57cc99;
    --bright: #80ed99;
  }

  html[data-theme='dark'] {
    --dark: #ffffff;
    --medium-dark: #808080;
    --lighter: #030303;
    --bright: #050505;
  }


  /*

  :root.dark-mode {
    --dark: white;
    --medium-dark: grey;
    --lighter: grey;
    --bright: black;
    background-color: black;
  }


*/




/* - - - - - - - - BASIC STYLING - - - - - - - - */
h1 {
    margin: 0.5rem;
    
    font-family: "Cambo";
    font-size: 44px;

    color: white;
    letter-spacing: 8px;

    text-shadow: 2px 2px 2px var(--medium-dark);
    text-transform: uppercase;
}

h1:hover {
    text-shadow: 2px 2px 4px var(--medium-dark), 0 0 16px var(--bright), 0 0 8px var(--lighter);
}

h2 {
    margin: 0.5rem;

    font-family: "Cambo";

    color: var(--dark);
    letter-spacing: 2px;
    line-height: 1em;

    text-shadow: 1px 1px 2px var(--medium-dark);
    text-transform: uppercase;
}

p {
    margin: 0.5rem;

    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

img, picture, video {
  max-width: 100%;
}



/* - - - - - - - - HEADER, BODY, MAIN - - - - - - - - */
body {
    margin: 0;
    
    background-attachment: fixed;
    background-image: repeating-linear-gradient(40deg,var(--dark),var(--medium-dark), var(--lighter), var(--medium-dark), var(--medium-dark), var(--bright));
}

header, footer {
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 8px;

    background-color: var(--dark);
}

header p {
    margin: 0.5rem;

    font-family: "Abel";
    font-weight: bold;
    font-size: 22px;

    color: white;
    letter-spacing: 1px;
}

main {
    box-sizing: border-box;
    padding: 0.5rem;
    min-height: 20rem;
    margin: 0.5rem;
    border: 4px solid var(--dark);
    border-radius: 8px;

    background-color: white;
}



/* - - - - - - - - BUTTONS & HAMBURGER - - - - - - - - */
button, .icon-burger {
    display: block;

    max-width: 3rem;
    max-height: 3rem;
    padding: 5px;
    border: 1px solid white;

    border-radius: 8px;

    background-color: var(--dark);
    box-shadow: 1px 1px 1px var(--dark);

    font-family: "Raleway";
    font-size: 2rem;

    color: white;
    text-align: center;
    letter-spacing: 1px;

    cursor: pointer;
}

button:hover, .icon-burger:hover {
    border: 1px solid var(--bright);

    background-color: var(--lighter);

    text-shadow: 1px 1px 1px var(--dark);
}

#toTop {
    
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    display: block;
}



/* - - - - - - - - LAYOUT - - - - - - - - */

.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: footer; }

/* - - - - - - - - LAYOUT less than 600px - - - - - - - - */
  .grid-container {
    display: grid;
    grid-template-columns: (1, 1fr);
    grid-template-areas:
    'header'
    'main'
    'footer';

    gap: 0;
    padding: 0;

    text-align: center;
  }

  .grid-container > div {
    padding: 0;
  }


/* - - - - - - - - LAYOUT more than 600px - - - - - - - - */
@media screen and (min-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        '. header header header .'
        '. main main main .'
        'footer footer footer footer footer';

        gap: 0;
        padding: 0;
    
        text-align: center;
    }

    .grid-container > div {
        padding: 0;
      }
}