@import "./color-theme.css";

/* - - - - - - - - NAV, MENU, FOOTER - - - - - - - - */
.nav-top{
    position: -webkit-sticky; /* For compability */
    position: sticky;
    top: 0;

    background-color: var(--medium-dark);
}

.nav-top, .nav-log {
    border-radius: 8px;
}

.ul-navmenufoot {
    position: relative;
    
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-content: center;
    

    margin-top: 0;
    margin-left: 0.5rem;
    margin-bottom: 0;
    margin-right: 0.5rem;
    
    list-style-type: none;
}

.a-navmenufoot {
    display: block;

    margin: 1px;
    padding: 5px;
    border: 1px solid var(--dark);
    border-radius: 8px;

    background-color: var(--dark);

    font-family: "Raleway";
    font-size: 20px;

    color: white;
    text-align: center;
    letter-spacing: 1px;

    text-decoration: none;
}

.a-navmenufoot:hover, .active {
    border: 1px solid var(--bright);

    background-color: var(--lighter);

    text-shadow: 1px 1px 1px var(--dark);
}

#ul-foot {
    display: flex;
}

/* - - - - - - - - ANIMATIONS - - - - - - - - */
#ani-burger {
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.icon-burger, #hamburger {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    display: block;
}








#log {
    display: none;
}