/* 
    color-scheme:
    #22577A     Navy
    #38A3A5     Blue
    #57CC99     Teal
    #80ED99     Green
    #           Mint
    #           Cold
    #           Sea
 */

:root {
    color-scheme: light dark;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

* {
    margin: 3px;
    padding: 3px;
    background-image: repeating-linear-gradient(140deg,
            rgb(0, 75, 78),
            #57cc994c,
            #22577aa4,
            #38a3a577,
            #38a3a580,
            #80ed9988
            );
}

h4 {
    color: Navy;
    font-weight: bolder;
    padding: 2%;
}

label {
    font-family: sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: Navy;
    margin: 1px;
}


select {
    color: #ffff;
    padding: 10px;
    border-end-start-radius: 1rem;
    border-start-end-radius: 1rem;
    font-size: 90%;
}

input {
    color: rgb(255, 255, 255);
    margin: 1px;
    border-end-end-radius: 1rem;
    border-start-start-radius: 1rem;
    overflow-wrap: break-word;
}

.Submit {
    font-size: larger;
    font-family: Verdana, sans-serif;
    padding: 1px;
    margin: 1px;
    border-radius: 2rem;
    border: 2px;
    box-shadow: 5px 5px #010057;
}

.Reset,
.Submit:hover {
    transition: ease-in;
}

.footer {
    color: #010057;
}



/* For mobile phones: */
@media only screen and (min-inline-size: 500px) {
[class*="col"] {
    inline-size: 100%;
}
}
