/* 
    color-scheme:
    #22577A     Navy
    #38A3A5     Blue
    #57CC99     Teal
    #80ED99     Green
    #           Mint
    #           Cold
    #           Sea
 */

:root {
    color-scheme: dark light;
    font-weight: bolder;
    align-items: center;
    align-content: center;
}

* {
    margin: 3px;
    padding: 3px;
    background-image: repeating-linear-gradient(140deg,
            rgb(0, 75, 78),
            #57cc994c,
            #22577aa4,
            #38a3a577,
            #38a3a580,
            #80ed9988);
    align-items: center;
    align-content: center;
}

h4 {
    color: Navy;
    font-weight: bolder;
    padding: 0px;
}

label {
    font-size: larger;
    font-weight: bolder;
    color: Navy;
    margin: 1px;
}


select {
    color: #ffff;
    padding: 10px;
    border-end-start-radius: 1rem;
    border-start-end-radius: 1rem;
    font-size: 90%;
}

input {
    color: rgb(255, 255, 255);
    margin: 1px;
    border-end-end-radius: 1rem;
    border-start-start-radius: 1rem;
    overflow-wrap: break-word;
}

.Submit {
    font-size: larger;
    padding: 10px;
    margin: 15px;
    border-radius: 2rem;
    border: 2px;
    box-shadow: 5px 5px #010057;
}

.Reset,
.Submit:hover {
    transition: ease-in;
}

.footer {
    color: #010057;
}

#contrastcolors {
    /* nav position-absolute end-0 bottom-0 p-2 */
    position: fixed;
    inset-block-end: 0;
    inset-inline-end: 4vw;
    inline-size: auto;
}

.slideUp {
    animation-name: slideUp;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-duration: 1s;
    visibility: visible;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* For mobile phones: */
@media only screen and (min-inline-size: 400px) {
    [class*="col"] {
        inline-size: 100%;
    }

}

/*




*/


#darkmodemenu {
    position: relative;
    top: 140px;
    right: 16px;
    padding: 5px 20px 10px 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
    transition: top 0.2s;
    user-select: none;
}

#darkmodemenu input,
#darkmodemenu label {
    cursor: pointer;
}