@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Sofia&display=swap');

/* 
        font-family: 'Sofia', cursive;
        font-family: 'Calligraffitti', cursive;
        font-weight: bolder;

    color-scheme:
    #22577A     Navy
    #38A3A5     Blue
    #57CC99     Teal
    #80ED99     Green
    #           Mint
    #           Cold
    #           Sea
 */

#root {
    color-scheme: light dark;
    font-weight: bolder;
    align-items: center;
    align-content: center;
}

* {
    font-family: 'Sofia', cursive;
    font-weight: bolder;
    font-family: 'Calligraffitti', cursive;
    font-family: cursive;
    align-content: center;
}


h5,
h2 {
    font-family: 'Sofia', cursive;
    font-weight: 900;
}

h4 {
    font-family: 'Sofia', cursive;
    color: Navy;
    font-weight: bolder;
    padding: 0px;
}

form {
    margin-left: 20px;
    padding: 1vw 1vw 2vw 2vw;
}

label {
    font-size: larger;
    font-weight: bolder;
    color: Navy;
    margin: 1px;
}


select {
    color: #ffff;
    padding: 1vwx;
    border-end-start-radius: 1rem;
    border-start-end-radius: 1rem;
    font-size: 100%;
}

input {
    color: rgb(255, 255, 255);
    margin: 1px;
    border-end-end-radius: 1rem;
    border-start-start-radius: 1rem;
    overflow-wrap: break-word;
}

.Submit {
    font-size: larger;
    padding: 3px;
    border-radius: 2rem;
    border: 2px;
    margin: 5px;
    inline-size: 100px;
    box-shadow: 5px 3px #010057;
    text-align-last: center;
}

.Sub_button {
    text-align-last: right;
}

.Reset,
.Submit:hover {
    transition: ease-in;
}

.Skapat * {
    margin: 2px;
    padding: 2px;
}


.footer {
    color: #010057;
    font-family: 'Sofia';
}

.contact {
    font-family: 'Sofia';
    margin: 0;
    background-color: none;
}

.footertext {
    padding: 1vw;
    inline-size: 70%;
    font-stretch: extra-expanded;
    padding: 5px;
    margin-block-end: 8px;
    margin-block-start: 8px;
}

#contrastcolors, #BtnContrast {
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 50px;
    inline-size: auto;
    background: none;
}

.slideUp {
    animation-name: slideUp;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-duration: 1s;
    visibility: visible;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* For mobile phones: */
@media only screen and (min-inline-size: 400px) {
    [class*="col"] {
        inline-size: 100%;
    }

}